/* MEDIUM */

@media (min-width: 480px) {
    .meme-canvas-container {
        width: 450px;
    }
    .toggle-menu {
        display: none;
    }

    .logo {
        min-width: 130px;
    }

    .main-nav-list {
        display: flex;
        position: unset;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        top: 0;
        right: 0;
        height: 55px;
        transform: translate(0);
    }

    .main-nav-list li a {
        padding-inline-start: 15px;
        padding-inline-end: 15px;
        border-left: 2px solid grey;
        padding-bottom: 10px;
        padding-top: 10px;
        width: auto;
        margin-bottom: 0;
        margin-left: 10px;
    }

    .main-layout>* {
        justify-content: space-between;
    }

    .main-layout {
        padding-left: 50px;
        padding-right: 50px;
        justify-content: center;
    }

    .meme-controls {
        margin-top: 20px;
    }

    .grid-container {
        column-count: 3;
        margin: 20px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .saved-memes-grid-container { 
        column-count: 3;
        margin: 20px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .footer {
        position: absolute;
        transform: translateY(70vh);
        margin-top: 50%;
        height: 150px;
        width: 100%;
        background-color: var(--clrHeader);
    }
}


/* DESKTOP */

@media (min-width: 880px) {
    .grid-container {
        column-count: 4;
    }

    .meme-editor-modal {
        flex-direction: row;
        justify-content: space-between;
    }

    .meme-controls {
        width: 60%;
        justify-content: flex-start;
        margin-top: 30px;
    }

    .meme-canvas-container {}

    .meme {
        display: flex;
        margin-top: 30px;
        margin-inline-start: 50px;
    }

    .btn {
        cursor: pointer;
        width: 60px;
        height: 60px;
    }

    .meme-controls div img {
        width: 60px;
        height: 60px;
    }

    .save-meme {
        width: 100px;
    }

    .grid-container-controls {
        grid-template-columns: repeat(5, 60px);
        grid-template-rows: repeat(5, 60px);

        gap: 20px;
    }

    .footer {
        position: absolute;
        transform: translateY(-20vh);
        margin-top: 60%;
        height: 150px;
        width: 100%;
        background-color: var(--clrHeader);
    }
}