/* MEDIUM */

@media (min-width: 500px) {
    .toggle-menu {
        display: none;
    }

    .logo {
        min-width: 130px;
    }

    .main-nav-list {
        display: flex;
        position: unset;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        top: 0;
        right: 0;
        height: 55px;
        transform: translate(0);
    }
    
    .main-nav-list li a {
        padding-inline-start: 15px;
        padding-inline-end: 15px;
        border-left: 2px solid grey; 
        padding-bottom: 10px;
        padding-top: 10px;
        width: auto;
        margin-bottom: 0;
        margin-left: 10px;
    }

    .main-layout>* {
        justify-content:space-between;
    }
    
    .main-layout {
        padding-left: 50px;
        padding-right: 50px;
        justify-content: center;
    }

    .grid-container { 
        grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
        gap: 20px;
        margin: 20px;
        margin-top: 25px;
        margin-bottom: 25px;
        
    }
    
    .img { 
        object-fit: contain;
        min-height: 275px;
    }
}

/* DESKTOP */

@media (min-width: 1200px) {}