* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #e3e3e3;
    font-family: GFSDidot;
    padding: 0;
    height: 100%;
}

a {
    cursor: pointer;
}