.footer {
    position: absolute;
    transform: translateY(60vh);
    margin-top: 100%;
    /* left: 0; */
    /* right: 0; */
    height: 100px;
    width: 100%;
    background-color: var(--clrHeader);
}