.main-header {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--clrHeader);
    height: 55px;
    width: 100%;
    z-index: 10;
}

.main-header-container {
    align-items: center;
    color: white;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    
}

.logo {
    width: 130px;
    height: 20px;
}

.main-nav-list {
    display: block;
    position: fixed;
    flex-direction: column;
    
    top: 55px;
    right: 0;
    height: calc(100vh - 55px);
    background-color: var(--clrHeader);
    transition: transform .6s, box-shadow .6s;
    transform: translateX(100%);
}

.main-nav-list li a {
    width: 350px;
    margin-bottom: 20px;

    text-decoration: none;
    color: white;


}

.main-nav-list li {

}

.toggle-menu {
    color: white;
    text-align: center;
    display: unset;
    background-color: var(--clrHeader);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-size: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

body.menu-opened .main-nav-list{
    transform: translate(0);
}