.saved-memes-tab-modal {
    flex-direction: column;
     background-color: #e3e3e3;
    position: absolute;
    z-index: 1;
    top: 55px;
    right: 0;
    margin: 0;
    width: 100%;
    height: 100vw;
}

.saved-memes-tab-modal.open {
    left: 0;
    transition: left .5s;
}

.saved-memes-grid-container { 
    column-count: 2;
    gap: 10px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;  
}

.saved-memes-grid-container.img { 
    cursor: pointer;
    object-fit: scale-down;
    width: 100%;
    min-height: 160px;
}

